.container {
    border-radius: 1.5625rem;
    border: 2px solid #FFF;
    padding: 2rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    flex-direction: column;
}

.workshopName {
    font-size: 1.8rem;
    text-align: center;
}


@media screen and (max-width: 1080px) {
    .workshopName {
        font-size: 1.6rem;
    }
    .container{
        padding: 1.8rem;
    }
}

@media screen and (max-width: 800px) {
    .workshopName{
        font-size: 1.4rem;

    }
    .container{
        padding: 1.5rem;
    }
}