.container {
    border-radius: 2rem;
    border: 2px solid #FFF;
    padding: 1.25rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    flex-direction: column;
    height: 50vh;
}

.workshopName {
    font-size: 1.8rem;
    text-align: center;
}


@media screen and (max-width: 1080px) {
    .workshopName {
        font-size: 1.6rem;
    }
    .container{
        padding: 1.2rem;
    }
}

@media screen and (max-width: 800px) {
    .workshopName{
        font-size: 1.4rem;
    }
    .container{
        width: 90vw;
        padding: 1rem;
        justify-content: space-evenly;
        height: max-content;
        /* height: 50vh; */
    }
}
