.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#reader {
    width: 600px;
}

#resultScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}