.blob {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .first_blob {
    left: -50px;
    width: 600px;
    height: 600px;
    z-index: -1;
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;
    background-image: url("/blobs/blob1.png");
    opacity: 0.5;
    filter: blur(100px);
    animation: first-blob-change infinite 30s ease-in-out;
  }
  
  @keyframes first-blob-change {
    0% {
      top: 0;
      left: 0;
      background-image: url("/blobs/blob1.png");
    }
  
    50% {
      left: calc(100% - 150px);
      top: calc(100% - 350px);
      background-image: url("/blobs/blob2.png");
    }
  
    100% {
      background-image: url("/blobs/blob1.png");
    }
  }