.main {
    width: 100vw;
    padding-top: 10vh;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.heading {
    font-size: 4.8rem;
    text-align: center;
    font-family: Poppins;
    padding-top: 2rem;
}

.tilecontainer {
    display: grid;
    justify-items: center;
    justify-content: center;
    grid-template-columns: 50% 50%;
    row-gap: 4rem;
    column-gap: 2rem;
    padding: 0 2rem;
    margin-top: 4rem;
    margin: 2rem 4rem 2rem 4rem;
}

.logo {
    width: 100px;
    height: 100px;
}

@media screen and (max-width: 1080px) {
    .tilecontainer {
        grid-template-columns: 50% 50%;
    }

    .heading {
        font-size: 3rem;

    }
}

@media screen and (max-width: 800px) {
    .tilecontainer {
        grid-template-columns: 100%;
    }

    .heading {
        font-size: 2.5rem;

    }
}